## Домашнее задание 6

### Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. 

### Корреляционный анализ

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [72]:
import pandas as pd
import numpy as np

In [2]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [3]:
tab=pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])

#### Определить коэффициент корреляции доходностей активов X и У.

In [4]:
cor_x_y=tab.loc[:, ["Доходность актива Х","Доходность актива Y"]].corr()
cor_x_y

                     Доходность актива Х  Доходность актива Y
Доходность актива Х             1.000000             0.396721
Доходность актива Y             0.396721             1.000000

Коэф. корреляции- 0.4
0.4>0
Следовательно, замечена неявная прямая зависимость

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [37]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [129]:
tabq=pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])
tabq

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

In [159]:
#1. Определим ряд распределения случайной величины X
x=tabq[['-6',' 0','3']].sum(axis=1)
#2. Определим мат.ожидание
Mx=sum([-2,0,1,7]*x)
#3. Определим ряд распределения случайной величины Y
y=tabq[['-6',' 0','3']].sum(axis=0)
#4. Определим мат.ожидание
My=sum([-6,0,3]*y)

In [160]:
#5. Определим произведений
t1=[-2,0,1,7]*tabq['-6']*-6;
t2=[-2,0,1,7]*tabq[' 0']*0;
t3=[-2,0,1,7]*tabq[' 0']*3;
Mxy=t1+t2+t3;
Mxy=Mxy.mean()
Mxy

-0.6

In [161]:
cov_xy=Mxy-Mx*My
cov_xy

-0.12749999999999978

#### 3. Определите коэффициент корреляции из № 2.

In [168]:
#Определяем дисперсию
Dx=np.sum((np.asarray([-2,0,1,7])-Mx)**2)
Dy=np.sum((np.asarray([-6,0,3])-My)**2)
#Определяем кв отклонение
s1=np.sqrt(Dx)
s2=np.sqrt(Dy)
#опредлеяем коф корреляции
cor=cov_xy/s1/s2
cor

-0.0028758314796089018

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

1. Время зарядки и заряд батареи
2. Время работы и заработная плата
3. Пробег автомоблия и его расход 
4. Количество университетов и уровень жизни в городе
5. Количество людей в метро и вероятность заражения вирусной инфекцией

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).

In [ ]:
1. Заряд батареи и время работы телефона
2. Количество детей в семье и обеспеченность каждого члена этой семьи 
3. Средний уровень жизни и количество массовых беспорядков
4. Средняя температура воздуха и  объем пресной воды в государстве 
5. Объем работы и качество исполнения